/* JavaFX CSS */
.root {
    -fx-font-size: 18px;
    -fx-font-family: EHUSans;
    -fx-background-color: white;
    /* -fx-background-color: #71D4E9; */
}

#titleLabel{
    -fx-font-size: 32px;
}

#subText{
    -fx-font-size: 24px;
}

Label {
    -fx-font-family: EHUSans;
    -fx-text-alignment: CENTER;
    -fx-text-fill: black;			
}