/* JavaFX CSS */
.root {
    -fx-font-size: 24px;
    -fx-font-family: EHUSans;
    -fx-background-image: url("background_image.jpg");
    -fx-background-repeat: stretch;  
    -fx-background-size: 1920 1080; 
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, blue, 30, 0.5, 0, 0); 
}

#titleLabel{
    -fx-font-size: 40px;
}

#subText{
    -fx-font-size: 24px;
}

Label {
    -fx-font-family: EHUSans;
    -fx-text-alignment: CENTER;
    -fx-text-fill: black;			
}

/* .media-view {
#	 -fx-fit-height: 720;
#	 -fx-preserve-ratio: true;
#} */
.combo-box{
	-fx-pref-width: 300;
}

.scroll-bar{
	 -fx-pref-width: 50;
}

.scroll-bar:vertical > .decrement-button {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-position-shape: true;
    -fx-scale-shape: true;
}

.scroll-bar:vertical > .increment-button {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-position-shape: true;
    -fx-scale-shape: true;
}